# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# Temp media files
/tmp/

# Build output
dist/

# TypeScript cache
*.tsbuildinfo

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

.vercel
.env*.local
